.petcard-card{
    margin: 10px;
    width:18rem;
}

.petcard-img{
    height: 16rem;
}

.petcard-title{
    font-size: 25px;
    text-align: center;
    font-weight: bold;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-style: italic;
}

.petcard-list{
    height: 100%;
    width: 100%;
}

.list-group-item{
    height: 100%;
    font-size: 90%;
}
