// {
//   "env": {
//     "test": {
//       "plugins": ["@babel/plugin-transform-modules-commonjs"]
//     }
//   },
//   "presets": ["@babel/preset-env", "@babel/preset-react"]

// }
// {
//   "presets": ["@babel/preset-env", "@babel/preset-react"]
// }


// {
//   "presets": [
//     "@babel/preset-env",
//     "@babel/preset-react"
//   ],
//   "plugins": [
//       "@babel/plugin-proposal-class-properties"
//   ]
// }


{
  "presets": ["@babel/react", "@babel/env"]
}
